<div class="col s12 m7">

  <app-headers titre="Modifier Mon Profile" ></app-headers>

  <div class="card horizontal">

    <div class="card-stacked">
      <div class="card-content">
        <div class="row">

          <form class="col s12"  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="row">

              <div class="input-field col s6">
                <i class="material-icons prefix">location_searching</i>
                <input id="icon_prefix" formControlName="depart" type="text" class="validate">
                <label for="icon_prefix">DEPART</label>
              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">location_on</i>
                <input id="icon_telephone" formControlName="destination" type="tel" class="validate">
                <label for="icon_telephone">DESTINATION</label>
              </div>
            </div>

            <div class="row">
              <mz-datepicker-container class="col s12 m6">
                <i mz-icon-mdi mz-input-prefix
                   [icon]="'calendar'">
                </i>
                <input mz-datepicker mz-validation required
                       id="datepicker-form-state"
                       formControlName="date"
                       type="text"
                       [errorMessageResource]="errorMessages.datepicker"
                       [label]="'Date'"
                       [options]="datepickerOptions"
                       [placeholder]="'Saisissez la date'">
              </mz-datepicker-container>

              <mz-timepicker-container class="col s12 m6">
                <i mz-icon-mdi mz-input-prefix
                   [icon]="'clock'">
                </i>
                <input mz-timepicker
                       [label]="'Heure'"
                       [options]="timepickerOptions"
                       id="timepicker"
                       formControlName="heure"
                       placeholder="Choisissez une heure pour votre course"
                       type="text">
              </mz-timepicker-container>
            </div>

            <div class="row ">
              <button  class="btn btn-small waves-effect waves-light"  type="submit">Lancé <i class="material-icons right">send</i></button>
            </div>
          </form>

        </div>


      </div>
    </div>

    <div class="card-image">
      <img src="../../../assets/images/profil.jpg" id="img">
    </div>
  </div>
</div>
